/* h1{
    background-color: blue;
    color: red;
    
} */

/* class'a ekleme yaparken nokta ile belirtiriz class'ı */
/* .css-egitimi{
    color: yellow;
} */

/* h1,
p,
h2,
h3 {
    color: aqua;
    text-align: center;
} */

/* margin en dıştaki katmandır. dış çerçeve olarak düşünülebilir*/
/* .frt{
    margin-bottom: 30px;
}
.bck{
    margin: 20px;
    border: 1px solid;
    padding: 30px;
} */
/* 
padding : content'in hemen üstündeki çerçeve 
border : padding'ten sonraki kısım
margin : border'ın üstündeki ve en dıştaki kısım
padding ve margin'i default kullanırsak 4 bir yandan eşit uzaklık alır
*/

.form {
    background-color: lightgray;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 280px;
    margin-right: 280px;
    padding: 20px;
}
input[type=text], select{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;
    
    
}
/* box-sizing ile border'ın content'in üstüne gelmesini engelledik */
input[type=submit]{
    width: 100%;
    padding: 13px 0px ;
    background-color: lightgreen;
    border: none;
    color: white;
    margin-top: 20px;
}

